@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");
/* :root {
  --primary-color: rgba(47, 95, 208, 1);
  --secondary-color: rgb(120, 124, 185);
  --overlay-color: rgba(157, 159, 185, 0.5);
  --background-color: rgba(47, 95, 208, 1);
  --menu-speed: 0.75s;
} */
:root {
  --color-text: #111;
  --color-bg: var(--primary-color);
  /*  */
  --primary-color: rgba(47, 95, 208, 1);
  --textprimary-color: rgba(47, 95, 208, 1);
  --secondary-color: rgb(120, 124, 185);
  --overlay-color: rgba(157, 159, 185, 0.5);
  --background-color: rgba(47, 95, 208, 1);
  --text-black: #111;
  --text-white: white;
  --menu-speed: 0.75s;
  --box-color: rgb(231, 231, 230);
  --progress-color: #f0f0f0;
  --column-color: #333385;
  --card-color: rgb(241, 241, 241);

  --progressbar-color: #333385;
}
.all:root {
  --color-text: #111;
  --color-bg: var(--primary-color);
  /*  */
  --primary-color: rgba(47, 95, 208, 1);
  --textprimary-color: rgba(47, 95, 208, 1);
  --secondary-color: rgb(120, 124, 185);
  --overlay-color: rgba(157, 159, 185, 0.5);
  --background-color: rgba(47, 95, 208, 1);
  --text-black: #111;
  --text-white: white;
  --menu-speed: 0.75s;
  --box-color: rgb(231, 231, 230);
  --progress-color: #f0f0f0;
  --column-color: #333385;
  --card-color: rgb(241, 241, 241);
  --progressbar-color: #333385;
}

.dark:root {
  --color-text: #e5e5e5;
  --color-bg: rgb(73, 71, 71);
  --primary-color: rgb(65, 62, 62);
  --secondary-color: #111;
  --overlay-color: #111;
  --box-color: #111;
  --box-color: #111;
  --text-black: #e5e5e5;
  --text-white: #e5e5e5;
  --menu-speed: 0.75s;
  --text-color: rgb(207, 207, 207);
  --column-color: #111;
  --card-color: #111;
  --progress-color: #111;
  --textprimary-color: rgb(207, 207, 207);
  --progressbar-color: rgb(73, 71, 71);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background: var(--background-color);
}
.text-primary {
  color: var(--textprimary-color);
}

.container {
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}
.m-heading {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#showcase {
  margin: 1rem 2rem;
  background: var(--box-color);
  height: 95vh;
  border-radius: 5px;
  color: var(--text-black);
}
#showcase .navbar {
  display: flex;
  justify-content: space-between;
  background: var(--box-color);
  border-radius: 5px 5px 0 0;
  color: var(--text-black);
}
#showcase .navbar-logo {
  padding: 1rem;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 2rem;
}
#showcase ul {
  display: flex;
  list-style: none;
}
#showcase ul li {
  padding: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
#showcase ul li a {
  text-decoration: none;
  color: var(--text-black);
}
#showcase ul li a:hover {
  color: var(--hover-color);
}

#showcase-content {
  display: flex;
  justify-content: space-between;
}
#showcase-content .showcase-descrption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: -3rem;
  font-size: 3rem;
}
#showcase-content .showcase-descrption p {
  font-size: 2rem;
  margin-right: 10rem;
  color: rgb(146, 146, 146);
  margin-bottom: 1rem;
}
#showcase-content .showcase-img {
  height: 450px;
  width: 450px;
  margin: 3rem 9rem;
  padding: 4px;
  border-radius: 50%;
  border: 9px solid var(--primary-color);
}

.btn {
  border: 1px solid var(--primary-color);
  background: var(--background-color);
  border-radius: 5px;
  padding: 1rem 0.5rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
  width: 350px;
  color: rgb(209, 209, 209);
  font-size: 1.5rem;
}
.text-center {
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
  background: var(--primary-color);
}

/* 
about section */
#about {
  background: var(--primary-color);
  color: var(--text-white);
  height: 300px;
}
#about h1 {
  font-size: 2.5rem;
}
#about p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.5rem;
}
#cv {
  margin-top: px;
  height: 90vh;
}
#cv .box {
  border-radius: 10px;
  background: var(--text-white);
  height: 100%;
  margin: 0 5rem;
  display: flex;
  box-shadow: 5px;
  font-family: "Open Sans Condensed", sans-serif;
}
#cv .box .column-1,
#cv .box .column-2 {
  flex: 1;
}
#cv .box .column-2 {
  border-left: 1px solid var(--card-color);
  min-width: 50px;
  flex-shrink: 1;
  background: var(--card-color);
  flex: 2 1 auto;
  color: var(--text-black);
}
#cv .box .column-1 {
  border-radius: 10px 0 0 10px;
  display: flex;
  background: var(--column-color);
  flex-direction: column;
  justify-content: center;
}
#cv .box .column-1 div {
  flex: 1;
}
#cv .box .column-1 .cv-img {
  background: var(--card-color);
  margin-top: 2rem;

  padding: 0 2rem;
}
#cv .box .column-1 .cv-img img {
  height: 13rem;
  width: 13rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 50%;
  background: url("../img/4.jpg") no-repeat center center/cover;
  border: 3px solid var(--column-color);
}
#cv .box .column-1 .cv-description {
  padding-left: 1rem;
  padding-right: 0.5rem;
  color: var(--text-white);
  flex: 3 1 auto;
  font-size: 1rem;
  padding-top: 1.5rem;
  color: var(--text-black);
}
#cv .box .column-1 .cv-description .level {
  font-size: 1rem;
  font-weight: bold;
}
#cv .box .column-1 .cv-description p {
  padding-bottom: 1rem;
}
#cv .box .column-1 .cv-description span {
  padding-top: 1rem;
  font-size: 2rem;
}
#cv .box .column-1 .cv-description .ku {
  font-size: 1rem;
  text-align: center;
  padding-left: 1rem;
}
#cv .box .column-2 .cv-img {
  background: var(--card-color);
  height: 14.5rem;
  margin-top: 2rem;
  padding: 0 2rem;
}
#cv .box .column-2 .cv-img .cv-main-heading {
  letter-spacing: 0.6rem;
}
#cv .box .column-2 .cv-img .cv-header {
  margin-top: 1rem;
}
#cv .box .column-2 .cv-img .cv-header span {
  padding: 1rem;
  font-size: 1rem;
}

.cv-description-item {
  padding-top: 1rem;
  padding-left: 0.5rem;
  font-size: 0.8rem;
}
.cv-description-item ul {
  padding-left: 2rem;
  padding-top: 0.5rem;
}
/* skill bar */

.skill-bars .bar {
  margin: 10px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 1rem;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 15px;
  width: 100%;
  background: var(--progress-color);
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: var(--progressbar-color);
  animation: animate 3s 3s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 60%;
}
.bar .progress-line.javascript span {
  width: 85%;
}
.bar .progress-line.react span {
  width: 70%;
}
.bar .progress-line.mongodb span {
  width: 75%;
}
.bar .progress-line.node span {
  width: 75%;
}
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 1rem;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "80%";
}
.progress-line.javascript span::after {
  content: "85%";
}
.progress-line.react span::after {
  content: "70%";
}
.progress-line.mongodb span::after {
  content: "75%";
}
.progress-line.node span::after {
  content: "75%";
}
/* portfolio */

/* Contact section */
#contact .info-container {
  display: flex;
  margin: 0 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(238, 236, 236);
  font-size: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  border-top: 1px solid var(--secondary-color);
}
#contact .info-container .contact-info,
#contact .info-container .contact-heading {
  flex: 1;
}
#contact .info-container .contact-heading {
  font-size: 1.5rem;
  padding: 0 11rem;
}
#contact .info-container .contact-heading p {
  font-size: 1.5rem;
}

#contact .info-container .contact-info {
  display: flex;
  margin-left: -5rem;
  margin: 2rem 0;
}
.icon-title {
  font-size: 1.5rem;
}

#contact .info-container .contact-info {
  flex: 1;
  padding: 0 1rem;
}
#contact .info-container .contact-info .contact-info-items {
  padding: 1rem;
  margin-left: 3rem;
}
#contact .info-container .contact-info .contact-info-items span {
  font-size: 1rem;
  color: rgb(238, 236, 236);
  text-decoration: underline;
}
#contact .info-container .contact-info .contact-info-items p {
  font-size: 1rem;
  color: rgb(238, 236, 236);
}
#contact .info-container .info-form {
  display: flex;
  justify-content: initial;
}
#contact .info-container .info-form div {
  flex: 1;
  margin: 0 1rem;
}
#contact .info-container .info-form input {
  display: block;
  outline: none;
  box-shadow: none;
  font-size: 0.5rem;
  color: var(--primary-color);
  width: 100%;
  margin: 0.5rem;
  border: lightgoldenrodyellow;
  border-radius: 2px;
  padding-right: 14rem;
  padding: 0.5rem 1.5rem;
}
#contact.info-container .info-form input :active {
  border: 1px solid var(--secondary-color);
}
#contact .info-container .info-form textarea {
  font-size: 1rem;
  width: 100%;
  margin: 0.5rem 0;
  border: lightgoldenrodyellow;
  border-radius: 2px;
  padding: 0.5rem;
  padding-right: 10rem;
  text-align: start;
}
#contact .info-container .info-form .btn {
  float: left;
  padding: 0 0.75rem;
  font-size: 0.8rem;
}

/* contact page */
#contact-a .text-fields {
  display: grid;
  grid-template-areas: "name email" "subject phone" "message message";
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}
#contact-a .text-fields .name-input {
  grid-area: name;
}
#contact-a .text-fields .subject-input {
  grid-area: subject;
}
#contact-a .text-fields .email-input {
  grid-area: email;
}
#contact-a .text-fields .phone-input {
  grid-area: phone;
}
#contact-a .text-fields .message-input {
  grid-area: message;
  height: 100px;
}
#contact-a .text-fields .text-input {
  padding: 0.5rem 1rem;
}

#contact-a button[type="submit"] {
  width: 50%;
}

#contact-b .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

#contact-c h1 {
  text-align: center;
  font-size: 4rem;
}
/* footer */
#footer div {
  padding: 1rem;
  color: white;
}

/* text animation */
.ml11 {
  font-weight: 100;
  font-size: 2rem;
  color: rgb(146, 146, 146);
  margin-top: -1rem;
}

.ml11 .text-wrapper {
  display: inline-block;
  /* padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em; */
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
}

/* dark mode */

body {
  background: var(--color-bg);
}

.context {
  position: absolute;
  top: 30px;
  right: 550px;
}

.context input {
  width: 90px;
  height: 40px;
  background: rgb(110, 108, 108);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 20px;
  cursor: pointer;
}

.context input:checked {
  background: #fff;
}

.context input::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--primary-color);
  transform: translate(5px, 5px);
  transition: 0.3s linear;
}

.context input:checked::after {
  inset: unset;
  background: transparent;
  box-shadow: 10px 10px 0 #353b48;
  transform: translate(calc(90px - 45px), -5px);
}
a {
  text-decoration: none;
  color: var(--text-black);
}
/* scroll to top */
